<!DOCTYPE html>
<html class="page" lang="{{ lang || 'en' }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{{ await $slots.title() }}}</title>
  @if($slots.styles)
    <style>
      {{{ await $slots.styles() }}}
    </style>
  @endif
</head>
<body class="page__body">
  @if($slots.header)
    <header>
      {{{ await $slots.header() }}}
    </header>
  @endif

  @if($slots.main)
    <main>
      {{{ await $slots.main() }}}
    </main>
  @endif

  @if($slots.footer)
    <footer>
      {{{ await $slots.footer() }}}
    </footer>
  @endif
</body>
</html>